node_modules
dist
bower_components
.tmp
.publish/
target
.classpath
.project
npm-debug.log
.settings/
bin/
.yo-rc.json
.DS_Store
*.gpd.*
.idea
*.iml
*.ipr
*.iws
*.log
.metadata
.mylar
*.orig
.pmd
.project
*.pyc
.pydevproject
*.rej
*~bak
*-bak
*.bak

